{% extends 'base.html.twig' %}

{% block title %}Inscription de vos patients{% endblock %}

{% block body %}

    <h3>Inscription de vos patients</h3>
    
    {{ form_start(form) }}

        {{ form_row(form.firstname)  }}
        {{ form_row(form.lastname)  }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {
            label: 'Mot de passe à saisir :'
        }) }}
        <div class="alert alert-danger">{{ generator }}</div>
        <div class="row">
        <div class="col-md-4">{{ form_row(form.allergens)  }}</div>
        <div class="col-md-4">{{ form_row(form.diets)  }}</div>
        <div class="col-md-4">{{ form_row(form.recipes)  }}</div>
        </div>
        {{ form_row(form.agreeTerms, {
            label: "J'accepte les mentions légales"
        }) }}
        {{ form_row(form.submit) }}

    {{ form_end(form) }}
   
{% endblock %}
