{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}

  <h3>{{ recipe.title }}</h3>
    
<section>

  <div class="row">
      <div class="col-md-5">
        <img src="/images/{{ recipe.illustration }}" alt="{{ recipe.title }}" class="img-fluid">
      </div>
      <div class="col-md-7 my-auto">
<!-- Problème de récupération de données en BDD des textEditorfields avec les balises HTML incluses -->
        <h6>Description :</h6>
        <p>{{ recipe.description }}</p>
        <hr>
        <h6>Temps de préparation : </h6>
        <p>{{ recipe.preparationTime }}</p>
        <hr>
        <h6>Temps de repos :</h6>
        <p>{{ recipe.timeout }}</p>
        <hr>
        <h6>Temps de cuisson :</h6>
        <p>{{ recipe.cookingTime }}</p>
        <hr>
        <h6>Ingrédients : </h6>
        <p>{{ recipe.ingredients }}</p>
        <hr>
        <h6>Etapes de la recette :</h6>
        <p>{{ recipe.stage }}</p>

      </div>
  </div>
        

</section>


{% endblock %}
